<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Edit Your Listing here : </h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" required class="form-control" value="<%= listing.title %>" name="listing[title]">   
            <div class="invalid-feedback">
                Please enter a good title
            </div> 
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required class="form-control" name="listing[description]" rows="10" cols="30"><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter a short description
            </div>
        </div>

        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>"/>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" name="listing[image]">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" required class="form-control" value="<%= listing.price %>" name="listing[price]">
            <div class="invalid-feedback">
                Please enter a valid price
            </div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" required class="form-control" value="<%= listing.location %>" name="listing[location]">
            <div class="invalid-feedback">
                Please enter the country name
            </div>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" required class="form-control" value="<%= listing.country %>" name="listing[country]">
            <div class="invalid-feedback">
                Please enter the location
            </div>
        </div>
        <button class="btn btn-success edit-btn mt-2">Edit</button>
    </form>
    <br>
    </div>
    </div>
    